<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-sm" style="width: 100%; max-width: 500px;">
    <h4 class="text-center mb-4">Add User</h4>
    <form (ngSubmit)="register()">
      <div class="form-group mb-3">
        <label for="email">First Name</label>
        <input type="text"
               id="firstName"
               [(ngModel)]="firstName"
               name="firstName"
               class="form-control"
               placeholder="Enter First Name"
               required />
      </div>
      <div class="form-group mb-3">
        <label for="email">Last Name</label>
        <input type="text"
               id="lastName"
               [(ngModel)]="lastName"
               name="lastName"
               class="form-control"
               placeholder="Enter Last Name"
               required />
      </div>

      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email"
               id="email"
               [(ngModel)]="email"
               name="email"
               class="form-control"
               placeholder="Enter email"
               required />
      </div>

      <div class="form-group mb-3">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               [(ngModel)]="password"
               name="password"
               class="form-control"
               placeholder="Enter password"
               required />
      </div>

      <div class="form-group mb-4">
        <label for="role">Select Role</label>
        <select id="role"
                [(ngModel)]="selectedRole"
                name="role"
                class="form-select"
                required>
          <option value="">Choose role</option>
          <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
        </select>
      </div>

      <button type="submit"
              class="btn btn-success w-100"
              [disabled]="!email || !password || !selectedRole || !lastName || !firstName">
        Register
      </button>
    </form>
  </div>
</div>
