<div>
  <div class="text-right">
    <button class="btn btn-primary" (click)="addUserPopUp()">Add User</button>
    <br />
    <br />
  </div>


  <table class="table table-primary table-striped-columns" id="tbl1">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col" class="text-center">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td class="text-center"><button class="btn btn-primary" (click)="editUser(user)">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
