<div>
  <div class="text-right">
    <button class="btn btn-primary">Add User</button>
    <br />
    <br />
  </div>


  <table class="table table-primary table-striped-columns" id="tbl1">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Role</th>

        <th scope="col" class="text-center">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td class="text-center"><button class="btn btn-primary">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>

