<div>
  <div class="align-items-right">
    <button class="btn btn-primary" (click)="addInvoice()">Add Invoice</button>
    <br />
    <br />
  </div>


  <table class="table table-primary table-striped-columns" id="tbl1">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Created By</th>
        <th scope="col">Date</th>
        <th scope="col">Total</th>
        <th scope="col" class="text-center">Invoice Items</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ invoice.createdByUserEmail }}</td>
        <td>{{ invoice.createdDate }}</td>
        <td>{{ invoice.total }}</td>
        <td class="text-center"><button class="btn btn-primary" (click)="invoiceItems(invoice)">Items</button></td>

      </tr>
    </tbody>
  </table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
